.side {
	@apply place-items-center;

	margin-top: auto !important;
	margin-bottom: auto !important;
	margin: auto !important;
}

.side_wrapper {
	@apply my-10 grid shadow-lg md:sticky md:top-0 md:col-span-2 md:my-0 md:h-screen;

	-webkit-box-shadow: 6px 0px 8px -5px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 6px 0px 8px -5px rgba(34, 60, 80, 0.2);
	box-shadow: 6px 0px 8px -5px rgba(34, 60, 80, 0.2);
}
